@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-gray-200 antialiased font-sans;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-bg;
}

::-webkit-scrollbar-thumb {
  @apply bg-dark-border rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
